.container
  .center
    %h2 Gallery
    %p.lead Explore our school photo gallery...

  %ul.nav.nav-pills.nav-justified#faq_nav
    %li.active
      %a{"data-toggle" => "pill", :href => "#home"} Home
    %li
      %a{"data-toggle" => "pill", :href => "#menu1"} Annual Function
    %li
      %a{"data-toggle" => "pill", :href => "#menu2"} School
    %li
      %a{"data-toggle" => "pill", :href => "#menu3"} Sports day
  .tab-content{style:'margin-top:2%;'}
    #home.tab-pane.fade.in.active
      .row
        -(1..12).each do |i|
          .col-sm-3
            = image_tag ('a'+i.to_s+'.jpg'),  class:'img-responsive thumbnail'
      .row
        -(1..12).each do |i|
          .col-sm-3
            = image_tag ('p'+i.to_s+'.jpg'),  class:'img-responsive thumbnail'
      .row
        -(1..12).each do |i|
          .col-sm-3
            = image_tag ('p'+i.to_s+'.jpg'),  class:'img-responsive thumbnail'
    #menu1.tab-pane.fade
      .row
        -(1..12).each do |i|
          .col-sm-3
            = image_tag ('a'+i.to_s+'.jpg'),  class:'img-responsive thumbnail'
    #menu2.tab-pane.fade
      .row
        -(1..12).each do |i|
          .col-sm-3
            = image_tag ('p'+i.to_s+'.jpg'),  class:'img-responsive thumbnail'
    #menu3.tab-pane.fade
      .row
        -(1..12).each do |i|
          .col-sm-3
            = image_tag ('p'+i.to_s+'.jpg'),  class:'img-responsive thumbnail'


