.container
  .row.well
    .col-sm-4{align:'center'}
      .spacing
        = image_tag 'pic.jpg'
    .col-sm-8
      %form.form-horizontal
        .spacing
          .form-group
            %label.control-label.col-sm-2 Name:
            .col-sm-10
              %p.form-control-static Staff1
          .form-group
            %label.control-label.col-sm-2 Qualification:
            .col-sm-10
              %p.form-control-static B.ed
          .form-group
            %label.control-label.col-sm-2 Experience:
            .col-sm-10
              %p.form-control-static 5yrs
          .form-group
            %label.control-label.col-sm-2 About:
            .col-sm-10
              %p.form-control-static He has experience of about 5yrs in mathematics ......

  .row.well
    .col-sm-4.spacing{align:'center'}
      = image_tag 'pic.jpg'
    .col-sm-8
      %form.form-horizontal
        .spacing
          .form-group
            %label.control-label.col-sm-2 Name:
            .col-sm-10
              %p.form-control-static Staff2
          .form-group
            %label.control-label.col-sm-2 Qualification:
            .col-sm-10
              %p.form-control-static B.ed
          .form-group
            %label.control-label.col-sm-2 Experience:
            .col-sm-10
              %p.form-control-static 5yrs
          .form-group
            %label.control-label.col-sm-2 About:
            .col-sm-10
              %p.form-control-static He has experience of about 5yrs in mathematics ......

  .row.well
    .col-sm-4.spacing{align:'center'}
      = image_tag 'pic.jpg'
    .col-sm-8
      %form.form-horizontal
        .spacing
          .form-group
            %label.control-label.col-sm-2 Name:
            .col-sm-10
              %p.form-control-static Staff2
          .form-group
            %label.control-label.col-sm-2 Qualification:
            .col-sm-10
              %p.form-control-static B.ed
          .form-group
            %label.control-label.col-sm-2 Experience:
            .col-sm-10
              %p.form-control-static 5yrs
          .form-group
            %label.control-label.col-sm-2 About:
            .col-sm-10
              %p.form-control-static He has experience of about 5yrs in mathematics ......
  .row.well
    .col-sm-4.spacing{align:'center'}
      = image_tag 'pic.jpg'
    .col-sm-8
      %form.form-horizontal
        .spacing
          .form-group
            %label.control-label.col-sm-2 Name:
            .col-sm-10
              %p.form-control-static Staff2
          .form-group
            %label.control-label.col-sm-2 Qualification:
            .col-sm-10
              %p.form-control-static B.ed
          .form-group
            %label.control-label.col-sm-2 Experience:
            .col-sm-10
              %p.form-control-static 5yrs
          .form-group
            %label.control-label.col-sm-2 About:
            .col-sm-10
              %p.form-control-static He has experience of about 5yrs in mathematics ......

  .row.well
    .col-sm-4.spacing{align:'center'}
      = image_tag 'pic.jpg'
    .col-sm-8
      %form.form-horizontal
        .spacing
          .form-group
            %label.control-label.col-sm-2 Name:
            .col-sm-10
              %p.form-control-static Staff2
          .form-group
            %label.control-label.col-sm-2 Qualification:
            .col-sm-10
              %p.form-control-static B.ed
          .form-group
            %label.control-label.col-sm-2 Experience:
            .col-sm-10
              %p.form-control-static 5yrs
          .form-group
            %label.control-label.col-sm-2 About:
            .col-sm-10
              %p.form-control-static He has experience of about 5yrs in mathematics ......