!!! 5
%html
%head
  %title Ilm School
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}


%body{style:"margin-bottom:60px;"}
  %nav.navbar.navbar-inverse
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag('ilm_logo.png'), root_path
      #myNavbar.collapse.navbar-collapse
        %div
          %ul.nav.navbar-nav.navbar-left
            %li
              %a{:href => root_path}Home
            %li.dropdown
              %a.dropbtn
                About
                %span.caret
              .dropdown-content
                %a{:href => board_member_path} Director In Charge
                %a{:href => board_member_path} Board Members
                %a{:href => our_staff_path} Our Staff
            %li
              %a{:href => curriculum_path}Curriculum
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => admissions_path}Admissions
            %li
              %a{:href => contact_us_path}
                %span.glyphicon.glyphicon-user
                Contact Us
            %li.dropdown
              %a.dropbtn
                Other
                %span.caret
              .dropdown-content
                %a{:href => "brochure.pdf", target:'_blank'} Brochure
                %a{:href => gallery_path} Gallery
                %a{:href => faq_path} FAQ

  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"
  = yield

  %footer.navbar-fixed-bottom
    %p &copy; 2017 Ilm School of Excellence. All Rights Reserved.